.ax_default {
  font-family:'SourceSansPro-Regular', 'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:25px;
}
.box_1 {
}
.image {
  text-align:center;
}
.placeholder {
  text-align:center;
}
.heading_1 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:76px;
  text-align:left;
  line-height:100px;
}
.heading_2 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:47px;
  text-align:left;
  line-height:50px;
}
.heading_3 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:29px;
  text-align:left;
  line-height:50px;
}
.heading_4 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:25px;
}
.heading_5 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:25px;
}
.heading_6 {
  font-family:'EBGaramond-SemiBold', 'EB Garamond SemiBold', 'EB Garamond';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:25px;
}
.paragraph {
  text-align:left;
}
.flow_shape {
  text-align:center;
}
.line {
}
.shape {
  font-size:14px;
}
.image1 {
  font-size:14px;
  color:#000000;
}
.horizontal_line {
}
.text_field {
}
.table {
}
.table_cell {
}
.vertical_line {
}
.subtitile {
  font-family:'SourceSansPro-Light', 'Source Sans Pro Light', 'Source Sans Pro';
  font-weight:200;
  font-style:normal;
  font-size:29px;
  color:#656D78;
  text-align:left;
  line-height:40px;
}
.shape1 {
}
.heading_11 {
  font-family:'PTSans-Regular', 'PT Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
.heading_21 {
  font-family:'PTSans-Regular', 'PT Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
.heading_31 {
  font-family:'PTSans-Regular', 'PT Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.paragraph1 {
  font-family:'PTSans-Regular', 'PT Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.paragraph2 {
  text-align:left;
}
